.navbar {
    background-color: orangered;
}

.navbar-brand img{
    width: 2rem;
}

.navbar-brand p{
    display: inline;
    color: white;
}

.navbar a{
    margin: auto;
}

.fixed-top{
    position: inherit;
}

.login i{
    color: white;
    margin-top: 8px;
}
